.radio-button-accept {
    background-color: "#e6f4ea";
    color: "#52c41a";
    border: "1px solid #52c41a";
  }
  
  .radio-button-accept.selected {
    background-color: #52c41a;
    color: #fff;
  }
  