.chart {
    flex: 7;
    padding: 10px;
    color: gray;
    display: flex;
    flex-direction: column;

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(228, 225, 225);
    }
}