.doctor-card {
  background: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 8px;
  .ant-card-body {
    .avatar {
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }

    .name {
      padding-top: 14px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #333333;
    }

    .staff {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #777777;
    }

    .address {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #666666;
    }

    .More{
      position: absolute;
      top: 20px;
      right: 30px;
    }
    .option{
      display: flex;
      flex-direction: row;
    }
  }
}