.ant-layout-content contentStyle css-dev-only-do-not-override-ed5zg0{
  background-color: aqua;
}
.spanx{
  flex: auto 1 1;
  background-color: white;
}
.header{
  min-width: 600px;
  border: none;
  align-items: center;
  margin-left: 15%;
}
.header-login{
  min-width: 150px;
  border: none;
  align-items: center;
  margin-left: 10%;
}
.headerStyle{
  display: flex;
  height: 100px;
  background-color: white;
  position: sticky;
  top:0;
  z-index: 1000;
  width: 100%;
}
.Logo{
  width: 200px;
  height: 47px;
  align-self: center;
}
.contentStyle{
  padding: 20;
  text-align: center;
  height: auto;
  color: "#fff";
  overflow: "initial";
  /* line-height: 120px; */
  background-color: whitesmoke;
};